<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Registro de usuario</title>
</head>
<body>
    {% load crispy_forms_tags %}

    <div class="container">

        <div class="row">
            <div class="col=10 col-md-8 offset-md-5">
              
                <div class="card">
                    <div class="card-body">
                        <h2> Registro de usuario</h2>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            <hr>
                 
                            
                            {{ form }}
                            <li>
                            <a href="{% url 'home' %}"> Inicio </a> |
                            <a href="{% url 'login' %}"> Iniciar sesion</a>
                            </li>
                            <input type="submit" value="registrar" class="btn btn-success float-right">
                            &nbsp;

                        </form>

                    </div>

                </div>

            </div>

    </div>
    
</body>
</html>